@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

.head1{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 24px;
    background-color:#fec979 ;
    height: 12%;
    align-items: center;
    border-radius: 40px;
    position: sticky;
}

.head1 a{
    text-decoration: none;
    color: rgb(12, 13, 15);
}

.head1 a:hover{
    color: red;
    padding: 10px;
}

body{
    background-color: gray;
}

#img1{
    width: 20%;
    height: 40%;
    margin-top: 2%;
    border: solid;
    border-radius: 40px;
    border-color: azure;
}

h1{
    margin-top: 5%;
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-style: normal; 
    color: rgb(255, 93, 34);
    text-align: center;
    text-shadow: 2px 2px 5px white;
}

.p1{
    margin-top: 23%;
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(255, 0, 0);
}

#img2{
    width: 20%;
    height: 40%;
    margin-top: 2%;
    border: solid;
    border-radius: 40px;
    border-color: azure;
    position: absolute;
    left: 40%;
    top: 50%;
}

.p2{
    margin-top: 23%;
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(255, 167, 90);
    position: absolute;
    text-align: center;
    top: 55%;
    left: 39%;
}

.p3{
    font-family: "Covered By Your Grace", cursive;
    font-weight: 400; 
    font-style: normal;
    font-size: 20px;
    color: #7488ff;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    position: absolute;
    right: 3%;
    top: 70%;
}

#img3{
    width: 20%;
    height: 40%;
    margin-top: 2%;
    border: solid;
    border-radius: 40px;
    border-color: azure;
    position: absolute;
    left: 75%;
    top: 110%;
}

.best1{
    width: 60%;height: 35%;
    border: solid;
    border-radius: 30px;
    border-color: black;
    background-color: bisque;
    margin-left: 18%;
    margin-top: 20%;
    text-align: center;
    margin-top: 10%;
}

#best2{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-shadow: 2px 2px 5px;
    color: rgb(59, 153, 235);
}

*{
    padding:0;
    margin: 0;
    box-sizing:border-box ;
}

footer{
    background-color: #111;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socialicons{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 25px;
    opacity: 0.9;
    color: black;
}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    background-color:white;
    transition: 0.5s; 
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type:none ;
}

.footernav li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5;
}

.footernav ul li a :hover{
    margin-right: 10px;
    transition: 0.5s;
}


.footerbottom{
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footerbottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px ;
}


footer{
 margin-top: 5%;   
}



.dropdown{
    display: inline-block;
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;


}

.dropdown button{
    background-color: #111;
    color: aliceblue;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 100px;
    box-shadow: 2px 2px 5px #111;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: #111;
}

.dropdown a:hover{
    background-color: #111;
}
