@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

.head1{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 24px;
    background-color:#fec979 ;
    height: 90px;
    align-items: center;
    border-radius: 40px;
    position: sticky;
}

.head1 a{
    text-decoration: none;
    color: rgb(12, 13, 15);
}

.head1 a:hover{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    transition: 1s;
}

body{
    background-color: #FFE7CB;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}

h1{
    text-align: center;
    color: #C39F74;
    text-shadow: 2px 2px 5px rgb(255, 170, 110);
    margin-top: 5%;

}

.menu2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    color: #ffffff;
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    text-shadow: 2px 2px 5px red;
}

.menu3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
}

.menu4{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    color: #ffffff;
    font-family: "Great Vibes", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    text-shadow: 2px 2px 5px red;
}

*{
    padding:0;
    margin: 0;
    box-sizing:border-box ;
}

footer{
    background-color: #111;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socialicons{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 25px;
    opacity: 0.9;
    color: black;
}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    background-color:white;
    transition: 0.5s; 
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type:none ;
}

.footernav li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5;
}

.footernav ul li a :hover{
    margin-right: 10px;
    transition: 0.5s;
}


.footerbottom{
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footerbottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px ;
}

@media (max-width:767px) {
    .footernav ul{
        flex-direction:column ;
    }

    .footernav ul li {
        width: 100%;
        text-align: center;
    }
}

footer{
 margin-top: 5%;   
}


.dropdown{
    display: inline-block;
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;


}

.dropdown button{
    background-color: #111;
    color: aliceblue;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 100px;
    box-shadow: 2px 2px 5px #111;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: #111;
}

.dropdown a:hover{
    background-color: #111;
}