@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Oranienbaum&display=swap');


h1{
    text-align: center;
    font-family: "Oranienbaum", serif;
    font-weight: bold;
    font-style: 30px;
    color: white;
    
    
}

.log{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    margin-top: 12%;
    color: azure;
}

.log input{
    width: 20%;
    padding: 5px;
}

.log input:focus{
    cursor: pointer;
    background-color: rgb(148, 0, 0);
}
.container input{
    padding: 50px;
    
}

.container{
    margin-top: 2%;
}


#submit{
    background-color: orange;
    color: white;
    font-family: "Oranienbaum", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 2%;
    width: 15%;
    padding: 10px;
    
}

body{
    background-image:url(https://img.freepik.com/free-vector/realistic-coffee-background-with-drawings_157027-1112.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon a i{
    padding: 20px;
    background-color: bisque;
    border-radius: 50%;
}

.icon i:hover{
    margin-top: 10px;
    transition: 0.5s;
}

#way{
    font-size: 30px;
}

.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
}