@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

body{
    width: 80%;
}


@media only screen and (min-width:1024px) {
    /* for leptops: */
    header, main, footer, body, .fot3, .head1, .main3, .runmain{
        width: 100%;
    }
}

@media only screen and (max-width:1023px) and (min-width:768px)  {
    /* For tablets: */
    main, header, footer, body, .fot3, .head1, .main3,.runmain{
        width: 90%;
        padding: 10px;
    } 
}

@media only screen and (max-width:767px) {
    /* For mobile phones: */
    header, main, footer, body, .fot3, .head1 a , .main3, .runmain{
      width: 100%;
      padding: 10px;
    }
  }


.head1{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    font-size: 24px;
    background-color:#fec979 ;
    height: 12%;
    align-items: center;
    border-radius: 40px;
    position: sticky;
}

.head1 a{
    text-decoration: none;
    color: rgb(12, 13, 15);
}

.head1 a:hover{
    color: rgb(255, 255, 255);
    margin-right: 10px;
    transition: 1s;
}

.main1{
    text-align: center;
    font-family: "Birthstone", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 40px;
    color: rgb(183, 0, 255);
    display: inline-flex;
    flex-direction: column;
    margin-left: 35%;
}

.main1 h1:hover{
    padding: 10px;
    cursor: pointer;
    text-shadow: 2px 2px 5px rgb(26, 76, 241);
    transition: 1.5s;
}

.main2{
    border-radius: 40px;
    border: solid;
    text-align: center;
    font-size: 40px;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-style: normal;
    height: 30%;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
    color: rgb(7, 7, 7);
    position: relative;
    margin-top: 10%;
    background-color: bisque;

}


.runmain{
    width:40% ;height: 10%;
    overflow: hidden;
    background-color: burlywood;
    margin-top: 10%;
    text-align: center;
    color: rgb(237, 250, 248);
    margin-left: 30%;
    font-family: "Birthstone";
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    border-radius: 3%;
    border-color: aliceblue;
}

.runtxt{
       display: flex;
    }

.txt {
        flex-shrink: 0;
        margin: 0;
        padding: 10px 15px;
        min-width: 100%;
        white-space: nowrap;
        animation-name: txt;
        animation-duration: 5s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
}

@keyframes txt{
    from {
      transform: translateX(0);
    }
    
    to {
      transform: translateX(-100%);
    }
}





.main3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    color: rgb(255, 88, 88);

}

.main3 img{
    width: 300px;
    height: 200px;
    border: solid;
    border-radius: 30px;
    border-color: rgb(237, 255, 246);
}

.main3 img:hover{
    transform: rotate(15deg);
    transition-duration: 3s;
    animation-timing-function: ease-in-out;
}


body {
      background-image: url(/images/imagesss.jpg) ; 
      background-repeat: no-repeat;
      background-size: cover;
}

.main4 { 
    display: inline-flex;
    flex-direction: column;
    font-size: 30px;
    position: absolute;
    padding: 5%;
    top: 50%;
    left: 5%;
    margin: 5px;
}

 .main4 i:hover{
    padding: 10px;
    transition: 1s;
}

.main4 i{
    position: sticky;
}

*{
    padding:0;
    margin: 0;
    box-sizing:border-box ;
}

footer{
    background-color: #111;
}

.footercontainer{
    width: 100%;
    padding: 70px 30px 20px ;
}

.socialicons{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 25px;
    opacity: 0.9;
    color: black;
}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    background-color:white;
    transition: 0.5s; 
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type:none ;
}

.footernav li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 20px;
    opacity: 0.7;
    transition: 0.5;
}

.footernav ul li :hover{
    margin-right: 10px;
    transition: 0.5s;
}


.footerbottom{
    background-color: #000000;
    padding: 20px;
    text-align: center;
}

.footerbottom p{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px ;
}

@media (max-width:767px) {
    .footernav ul{
        flex-direction:column ;
    }

    .footernav ul li {
        width: 100%;
        text-align: center;
    }

    .main3  {
        flex-direction: column;

    }
}

footer{
 margin-top: 5%;   
}

.dropdown{
    display: inline-block;
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;


}

.dropdown button{
    background-color: #111;
    color: aliceblue;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 100px;
    box-shadow: 2px 2px 5px #111;
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: #111;
}

.dropdown a:hover{
    background-color: #111;
}